@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Aston Script Bold";
  src: url("/aston/Aston_Script.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "jsMath-cmr10";
  src: url("/fonts/jsMath-cmr10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: "Inter", sans-serif;
  --font-jsmath: "jsMath-cmr10", serif;
  --font-aston-script: "Aston Script Bold", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

.header {
  @apply font-bold font-inter text-4xl whitespace-normal max-w-[200px] leading-snug;
}

.header > span {
  font-family: "Aston Script Bold";
}
